$fz-text-1: 0.875rem; // 14px
$fz-text-2: 1rem; // 16px
$fz-text-3: 1.125rem; // 18px
$fz-text-4: 1.25rem; // 20px
$fz-text-5: 1.5625rem; // 25px
$fz-text-6: 2.1875rem; // 35px
$fz-text-7: 5rem; // 80px
$fz-text-8: 3.125rem; // 50px
$fz-text-9: 1.875rem; // 30px

$font-weight: (normal: 500, bold: 700, very-bold: 900);

$lh-text-1: 16px;
$lh-text-2: 21px;
$lh-text-3: 22px;
$lh-text-4: 24px;
$lh-text-5: 26px;
$lh-text-6: 29px;
$lh-text-7: 33px;
$lh-text-8: 44px;
$lh-text-9: 100px;
$lh-text-10: 62px;
$lh-text-11: 36px;
$lh-text-12: 31px;
$lh-text-13: 30px;
$lh-text-14: 42px;

$white: #fff;
$black: #000;
$light-black: #222222;
$dark: #92929233;
$dark-gray: #5B5B5B;
$gray: #C6C6C6;
$light-gray-1: #F3F3F3;
$light-gray-2: #F9F9F9;
$light-gray-3: #E9E9E9;
$dark-brown: #40241D;
$light-yellow: #FFF7E1;
$yellow: #F9B300;
$dark-yellow: #E2A300;

$padding-1: (22px 56px);
$padding-2: (15px 124px);
$padding-3: (13px 46px);
$padding-4: (22px 67px);
$padding-5: (25px 53px);

$shadow-1: (0px 0px 30px 0px $dark);
$shadow-2: (0px 0px 20px 0px $dark);

$transition-1: .2s;
$transition-2: .3s;
